---
title: "Team"
layout: default
permalink: "/team"
---

<div class="container">
  <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
  <div class="row gap-y listrecent listrecent listauthor">
    {% assign i = 0 %}
    {% for author in site.authors %}
    <!-- these people are guaranteed to have articles -->
    {% assign moduloval = i | modulo: 2 %}
    <div class="col-lg-6 mb-4" data-aos="{% if moduloval == 0 %}fade-right{% else %}fade-left{% endif %}"
      data-aos-delay="{% if i < 6 %}{{ i | times: 100 }}{% elsif moduloval == 0%}0{% else %}200{% endif %}"
      data-aos-offset="50">
      <a href="{{site.baseurl}}/author-{{ author[1].name | slugify }}">
        <div class="p-4 border rounded clickable-team-member">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author[1].name }}"
                src="{{site.baseurl}}{{ author[1].avatar }}" class="rounded-circle" height="80" width="80"></div>
            <div class="col-md-9">
              <h4 class="text-dark" style="font-weight: 400;"> {{ author[1].name }} </h4>
              <h6 style="font-weight: normal; color: gray"> {{ author[1].role }}</h6>
              <div class="excerpt">{{ author[1].bio }}</div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% assign i = i | plus: 1 %}
    {% endfor %}

    <!-- now for the rest of the team (guaranteed not to be writers)... -->
    {% assign j = 0 %}
    {% for member in site.other_team_members %}
    {% assign moduloval = j | modulo: 2 %}
    <div class="col-lg-6 mb-4" data-aos="{% if moduloval == 0 %}fade-right{% else %}fade-left{% endif %}"
      data-aos-delay="{% if moduloval == 0%}0{% else %}200{% endif %}" data-aos-offset="50">
      <div class="p-4 border rounded">
        <div class="row">
          <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ member[1].name }}"
              src="{{site.baseurl}}{{ member[1].avatar }}" class="rounded-circle" height="80" width="80"></div>
          <div class="col-md-9">
            <h4 class="text-dark" style="font-weight: 400;"> {{ member[1].name }} </h4>
            <h6 style="font-weight: normal; color: gray"> {{ member[1].role }} </h6>
            <div class="excerpt">{{ member[1].bio }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% assign j = j | plus: 1 %}
    {% endfor %}
  </div>
</div>
